/*body {*/
/*    padding: 3rem;*/
/*}*/

.content {
    padding: 3rem;
}

.form {
    max-width: 36rem;
    margin: auto;
}

.form-title {
    text-align: center;
}

.generated-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.back {
    position: absolute;
    margin: 1rem;
}

.post-image {
    max-height: 12rem;
    max-width: 36rem;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-image {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 1rem;
}

.navbar {
    display: flex;
}

.navbar-brand {
    flex: 1;
}

.navbar-brand > .navbar-item {
    transition: all 0.2s ease-in-out;
}

.navbar-brand > .navbar-item:hover {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1) !important;
}
