{% extends 'base.html.twig' %}

{% block title %}
    Home | {{ parent() }}
{% endblock %}

{% block body %}
<div class="hero-body">
    <div class="container has-text-centered">
        <p class="title">
            Step Devs CTF Forum
        </p>
        <p class="subtitle">
            Welcome to the Step Devs community forum
        </p>
        <a class="button is-primary is-medium" href="{{ path('app.posts.index') }}">
            Get Started
        </a>
    </div>
</div>
{% endblock %}
