{% extends 'base.html.twig' %}

{% block title %}
    Posts |
    {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        <h2 class="title is-2">Posts</h2>
        <a href="{{ path('app.posts.create') }}" class="button">
            <i class="fa-solid fa-plus mr-2"></i>
            Write a new post
        </a>
        <div class="mt-5">
            {% for post in posts %}
                {% include 'components/_post.html.twig' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
