{% for flash in app.flashes('success') %}
    <div class="notification is-success is-light" role="alert">
        {{ flash }}
    </div>
{% endfor %}
{% for flash in app.flashes('error') %}
    <div class="notification is-danger is-light" role="alert">
        {{ flash }}
    </div>
{% endfor %}
{% for flash in app.flashes('info') %}
    <div class="notification is-info is-ligth" role="alert">
        {{ flash }}
    </div>
{% endfor %}
{% for flash in app.flashes('warning') %}
    <div class="notification is-warning is-light" role="alert">
        {{ flash }}
    </div>
{% endfor %}
